.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px 0;
  position: relative;
}
.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media (max-width: 768px) {
  .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 10px;
  }
}

@media (max-width: 480px) {
  .row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    margin: 10px;
  }
}
.add_button_container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  z-index: 100;
}
.no_recipes {
  text-align: center;
  color: #888;
  font-size: 18px;
  padding: 20px;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px; /* Adjust the width to your preference */
  background-color: #f2f2f2; /* Add a background color if needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
