.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px 0;
  position: relative;
}
.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media (max-width: 768px) {
  .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 10px;
  }
}

@media (max-width: 480px) {
  .row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    margin: 10px;
  }
}
.add_button_container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  z-index: 100;
}
